container_commands:
  00_set_bundler_permissions:
    command: "mkdir -p /var/app/ondeck/.bundler && chown -R webapp:webapp /var/app/ondeck/.bundler"
  01_set_tmp_permissions:
    command: "chmod -R go+w /var/app/ondeck/tmp/cache"
  02_set_log_permissions:
    command: "chmod go+w /var/app/ondeck/log/production.log"
