<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      body{ font-family:'Helvetica Neue', Helvetica, 'Open Sans', sans-serif;  }
    </style>
  </head>
  <body>
    <p><strong>New Collection: <%= @name %></strong></p>
    <p>You have successfully created a new collection at <a href="https://refsort.com">refsort.com</a></p>
    <p>To edit your collection, just follow <a href="<%= @url %>">this link</a></p>
    <p>Have a great day!</p>
  </body>
</html>
