<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      body{ font-family:'Helvetica Neue', Helvetica, 'Open Sans', sans-serif;  }
    </style>
  </head>
  <body>
    <p><strong>New Collection: <%= @name %></strong></p>
    <p>You have successfully created a new collection at <a href="https://refsort.com">https://refsort.com</a></p>
    <p>Use <a href="<%= @sort %>">this link</a> to sort your collection.</p>
    <p>If you need to edit it, just follow <a href="<%= @secret %>">this link</a>.</p>
    <p>Ping me if you need help!</p>
  </body>
</html>
