#collections {
  .collection {
    display: inline-block;
    width: 100%;
    height: 33vh;
    overflow: hidden;
    cursor: pointer;
    background-color: #222;
    transition: all .1s ease-out;
    user-select: none;

    &.new { background-color: #00D9C0; }
    &:active { transform: scale(0.95); }

    .card-bg {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: all .2s ease-out;
    }

    .title {
      display: inline-block;
      color: #fff !important;
      background-color: #222;
      padding: .5rem;
    }

    .description {
      display: none;
      color: #fff !important;
      background-color: #222;
      padding: .5rem;
      word-break: break-word;
      transition: all .2s ease-out;
      opacity: 0;
    }
  }
}

#edit-collection {
  .field:not(:last-child) { margin-bottom: 1.5rem; }

  .items {
    .item {
      display: flex;
      border: 1px solid #dbdbdb;
      padding: .5rem;
      cursor: pointer;

      &:hover { background-color: #f9f9f9; }
      &:active { background-color: #f2f2f2; }
    }

    .item-img {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
    }

    .title { font-size: 1rem; }
    .level-item { margin-bottom: 0 !important; }
  }
}

@media (min-width: 769px) {
  #collections {
    .collection {
      height: 300px;
      margin-bottom: 2rem;

      &:hover, &:focus {
        .card-bg { opacity: 0; }
        .description { opacity: 1; }
      }

      .description { display: block; }
    }
  }

  #edit-collection {
    .section {
      max-width: 40vw;
      margin: 0 auto;
    }

    .items {
      .item { padding: .5rem 0; }
      .title { font-size: 1.5rem; }
    }
  }
}

@media (min-width: 1024px) {
  #edit-collection {
    .items .title { font-size: 2rem; }
  }
}

#vote-collection {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 7rem);
  }

  .options {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
  }

  .option {
    background-color: #222;
    height: 25vh;
    margin-bottom: 1.5rem;
    padding: 1rem;

    .title {
      padding: .5rem;
      display: inline-block;
      background-color: #222;
      color: #fff;
    }
  }

  .option-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .picker {
    display: flex;
    justify-content: space-between;
  }

  .button {
    width: 40vw;
    height: 9vh;
    background-color: #222;
    color: #fff;
    border: none;
    font-size: 4vh;
    font-weight: 600;
    transition: .1s all ease-out;

    &:active { transform: scale(0.95); }
  }
}

@media (max-width: 576px) {
  #vote-collection {
    padding: 1rem 1.5rem;
    h1.title { font-size: 1.5rem; }
    .subtitle { font-size: 1rem; }
  }
}

@media (min-width: 1024px) {
  #vote-collection {
    .container { min-height: 0; }

    .empty img { max-width: 50vw; }

    .options {
      flex-direction: row;
      height: 60vh;
      margin-bottom: 3rem;
      justify-content: space-between;
    }

    .option {
      height: 100%;
      width: 48%;
    }

    .button {
      width: 48%;
      &:hover { transform: scale(1.05); }
      &:active { transform: scale(0.95); }
    }
  }
}
