#collections {
  .collection {
    display: inline-block;
    width: 85vw;
    height: 64vw;
    margin: 0 20px 20px 0;
    cursor: pointer;
    background-color: #222;
    transition: all .1s ease-out;
    user-select: none;

    &:hover, &:focus {
      .card-bg { opacity: 0; }
    }

    &:active { transform: scale(0.95); }

    .card-bg {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: all .2s ease-out;
    }

    .title {
      color: #fff !important;
      background-color: #222;
      padding: 4px 8px;
    }
  }
}

@media (min-width: 769px) {
  #collections {
    .collection {
      width: 200px;
      height: 300px;
      margin: 0 30px 30px 0;
    }
  }
}
