$p1: #FF4365;
$p2: #030301;
$p3: #D7CEB2;
$p4: #00D9C0;
$p5: #FFFFF3;

body {
  background-color: #fff;
}

.is-relative {
  position: relative;
}

.is-flex-wrap {
  flex-wrap: wrap;
}


.halves {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.half {
  width: 100%;
  height: 100vh;
  //flex: 1 1 auto;
  overflow: auto;
}
