javascript:
  // Google Analytics
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-125281284-1');

  // Magic links
  $(function () {
    let links = $('[data-href]');

    function followLink() {
      let href = $(this).data('href');
      if ($(this).data('target') === '_blank') {
        window.open(href);
      } else {
        window.location = $(this).data('href');
      }
    }
    
    links.on('click', followLink);
  });
